:root {
    --y-white: rgb(240, 243, 245);
    --y-black: rgb(29, 31, 32);

    --ynav-m-space: 21vw;
    --ynav-padding: 10vh;
    --content-top: 25%;
}

body {
    margin: 0;
    background-color: var(--y-white);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

.transition-y {
    opacity: 1;
    transition: opacity 0.4s;
}
html.is-animating .transition-y {
    opacity: 0;
    transition: opacity 0.4s;
}

#container {
    position: absolute !important;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - (var(--ynav-padding) * 2));
    padding: var(--ynav-padding) 0;
    transition: height 0.7s cubic-bezier(0.4, 0.7, 0, 1);
}
#ymenu-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
svg#y {
    width: clamp(150px, 20vw, 400px);
    height: 100%;
    transition: width 0.7s cubic-bezier(0.3, 0.7, 0, 1);
    overflow: visible;
}

/* (temporary) Y SPAWN ANIMATION */
svg#y > g[id] {
    transform: translate(0);
    cursor: pointer;
}

svg#y > g#float {
    transition: transform 0.7s cubic-bezier(0.4, 0.8, 0, 1);
}
svg#y > g#main {
    transition: transform 0.65s cubic-bezier(0.5, 0.8, 0, 1);
}

svg#y > g[id] > g {
    transform: rotateZ(0);
    transform-origin: center;
}
svg#y > g#float > g {
    transition: transform 0.7s 0.1s cubic-bezier(0.2, 0.7, 0, 1);
}
svg#y > g#main > g {
    transition: transform 0.3s cubic-bezier(0, 0.55, 0, 1);
}

svg#y > g[id] path {
    fill: var(--y-black);
    transition: fill 0.8s cubic-bezier(0.6, 0.7, 0, 1);
}
svg#y > g[id] polygon {
    fill: var(--y-white);
    transition: fill 0.4s 50ms ease-out;
}
svg#y > g[id]:hover polygon,
svg#y > g[id]:hover path {
    transition: fill 0.7s cubic-bezier(0.225, 0.7, 0, 1);
}
svg#y > g[id]:hover polygon {
    fill: var(--y-black);
}
svg#y > g[id]:hover path {
    fill: #ffffff;
}

nav.pre-spawn svg#y > g#float {
    transform: translate(15px, 10px);
}
nav.pre-spawn svg#y > g#float > g {
    transform: rotateZ(-25deg);
}
svg#y > g#main.pre-spawn {
    transform: translate(11.5px, -20px);
}
svg#y > g#main.pre-spawn > g {
    transform: rotateZ(50deg);
}

nav.pre-spawn svg#y > g#float path,
svg#y > g#main.pre-spawn path {
    fill: var(--y-white) !important;
}

/* Y MENU BUTTONS */
#ym-txt-c {
    position: absolute;
    width: 100%;
}
.ym-txt {
    position: absolute;
    font-size: clamp(18px, 3vw, 28px);
    font-weight: 800;
    text-decoration: none;
    color: var(--y-black);
    opacity: 1;
    transition: 0.7s cubic-bezier(0.25, 0.6, 0, 1),
                opacity 0.6s,
                font-size 0s;
    user-select: none;
    transform: scalex(0.9);
    letter-spacing: 1px;
}
.ym-txt:first-child {
    left: var(--ynav-m-space);
    transform: translateX(-50%);
}
.ym-txt:last-child {
    right: var(--ynav-m-space);
    transform: translateX(50%);
}

#ym-txt-c.pre-spawn .ym-txt {
    opacity: 0;
    left: 30vw;
    right: 30vw;
}


/*--/ CONTENT /--*/
#content-container {
    position: absolute;
    width: 100%;
    top: calc(var(--content-top) + var(--ynav-padding) * 2);
    left: 0;
}

main#swup {display: block;
    position: relative !important;
    width: 100%;
    overflow: visible !important;
}


/*/ PROJECT LISTS /*/
.acclist-item {
    width: 100%;
    margin: 0px;
    transition: transform 0.6s cubic-bezier(0.5, 0.7, 0, 1);
    user-select: none;
}
.acclist-in {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: skewY(-7.5deg);
}
.acclist-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 40px 0;
    transform: scale(1.01);
    background-color: var(--y-black);
    outline: solid 1px transparent;
    transition-property: background-color;
    cursor: pointer;
}
.acclist-btn, .acclist-title {
    outline: solid 1px transparent;
}
.acclist-title {
    display: inline-block;
    padding: 10px 30px;
    transform: scale(1);
    text-align: center;
    background-color: var(--y-white);
    transition-property: background-color, transform;
}
.acclist-t-span {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(24px, 3vw, 42px);
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--y-black);
    transform: scaleX(0.95);
    transition-property: color;
}

.acclist-btn,
.acclist-btn .acclist-title,
.acclist-btn .acclist-t-span {
    transition: 0.7s cubic-bezier(0.4, 0.6, 0, 1);
}
.acclist-btn:hover,
.acclist-btn:hover .acclist-title,
.acclist-btn:hover .acclist-t-span {
    transition: 0.6s cubic-bezier(0.1, 0.6, 0, 1);
}
.acclist-btn:hover .acclist-title {
    transform: scale(1.125);
    transition: 0.7s cubic-bezier(0.1, 0.7, 0, 1);
}

.acclist-item.special .acclist-btn {
    background-color: var(--y-white);
}
.acclist-item.special .acclist-title {
    background-color: var(--y-black);
}
.acclist-item.special .acclist-t-span {
    color: var(--y-white);
}
.acclist-item.special .acclist-btn:hover,
.acclist-item.special .acclist-btn:hover .acclist-title {
    background-color: #ffffff;
}
.acclist-item.special .acclist-btn:hover .acclist-t-span {
    color: var(--y-black);
}

.acc-spacer {
    margin-bottom: 20px;
}

.acclist-content {
    position: relative;
    top: 0;
    width: 90%;
    height: 200px;
    background-color: var(--y-black);
    background: linear-gradient(to bottom, var(--y-black) -5px, var(--y-white) 30px);
}
