:root {
    --y-w: rgb(236, 239, 242);
    --y-w2: rgb(250, 253, 255);
    --y-b: rgb(29, 31, 32);
    --y-b2: rgb(40, 42, 45);

    --ynav-m-space: 21vw;
    --ynav-padding: 10vh;
    --content-top: 25%;
}
::selection {
    color: inherit;
    background-color: rgba(128, 128, 128, 0.3);
}
html {
    overflow: hidden;
}
body {
    margin: 0;
    background-color: var(--y-w);
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    overflow-x: hidden;
}

.transition-y {
    opacity: 1;
    transition: opacity 0.4s;
}
html.is-animating .transition-y {
    opacity: 0;
    transition: opacity 0.4s;
}

#container {
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-color: var(--y-w);
    overflow-y: visible;
    overflow-x: hidden;
}

/*- OverlaySCROLLBARS -*/
.os-scrollbar {
    transform: scaleY(1.01) translateX(1px);
    padding: 0 !important;
    mix-blend-mode: exclusion !important;
    box-sizing: initial !important;
    transition: opacity 0.9s cubic-bezier(0.2, 0.85, 0, 1),
                transform 0.4s cubic-bezier(0.4, 0.6, 0, 1),
                visibility 0.7s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s !important;
}
.os-scrollbar.os-scrollbar-auto-hidden {
    transform: scaleY(1.01) translateX(100%);
    transition: opacity 0.4s 0.15s cubic-bezier(0.6, 0.6, 0, 1),
                transform 0.6s 75ms cubic-bezier(0.4, 0.25, 0, 1),
                visibility 0.8s, top 0.3s, right 0.3s, bottom 0.3s, left 0.3s !important;
}
.os-scrollbar-track {
    border-radius: 0 !important;
    transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1) !important;
}
.os-scrollbar-handle {
    border-radius: 0 !important;
    background-color: rgba(255, 255, 255, 0.925) !important;
    cursor: pointer !important;
}
.os-scrollbar.active .os-scrollbar-track {
    background-color: rgba(236, 239, 242, 0.1) !important;
}
.os-scrollbar-handle:hover,
.os-scrollbar-handle.active {
    opacity: 0.85 !important;
}
.os-scrollbar-handle.active {
    background-color: rgb(200, 200, 200) !important;
}

/*--/ NAV /--*/
nav {
    z-index: 100;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - (var(--ynav-padding) * 2));
    padding: var(--ynav-padding) 0;
    transition: height 0.7s cubic-bezier(0.4, 0.7, 0, 1);
    pointer-events: none;
}
#ymenu-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#ymenu-c > * {
    pointer-events: all;
}
svg#y {
    width: clamp(150px, 20vw, 400px);
    height: 100%;
    transition: width 0.7s cubic-bezier(0.3, 0.7, 0, 1);
    overflow: visible;
}

/* (temporary) Y SPAWN ANIMATION */
svg#y > g[id] {
    transform: translate(0);
    cursor: pointer;
}

svg#y > g#float {
    transition: transform 0.7s cubic-bezier(0.4, 0.8, 0, 1);
}
svg#y > g#main {
    transition: transform 0.65s cubic-bezier(0.5, 0.8, 0, 1);
}

svg#y > g[id] > g {
    transform: rotateZ(0);
    transform-origin: center;
}
svg#y > g#float > g {
    transition: transform 0.7s 0.1s cubic-bezier(0.2, 0.7, 0, 1);
}
svg#y > g#main > g {
    transition: transform 0.3s cubic-bezier(0, 0.55, 0, 1);
}

svg#y > g[id] path {
    fill: var(--y-b);
    transition: fill 0.8s cubic-bezier(0.6, 0.7, 0, 1);
}
svg#y > g[id] polygon {
    fill: var(--y-w);
    transition: fill 0.4s 50ms ease-out;
}
svg#y > g[id]:hover polygon,
svg#y > g[id]:hover path {
    transition: fill 0.5s cubic-bezier(0.2, 0.7, 0, 1);
}
svg#y > g[id]:hover polygon {
    fill: var(--y-w2);
}
svg#y > g[id]:hover path {
    fill: var(--y-b2);
}

nav.pre-spawn svg#y > g#float {
    transform: translate(15px, 10px);
}
nav.pre-spawn svg#y > g#float > g {
    transform: rotateZ(-25deg);
}
svg#y > g#main.pre-spawn {
    transform: translate(11.5px, -20px);
}
svg#y > g#main.pre-spawn > g {
    transform: rotateZ(50deg);
}

nav.pre-spawn svg#y > g#float path,
svg#y > g#main.pre-spawn path {
    fill: var(--y-w) !important;
}

/* Y MENU BUTTONS */
#ym-txt-c {
    position: absolute;
    width: 100%;
}
.ym-txt {
    position: absolute;
    font-size: clamp(18px, 3vw, 28px);
    font-weight: 800;
    text-decoration: none;
    color: var(--y-b);
    opacity: 1;
    transition: 0.7s cubic-bezier(0.25, 0.6, 0, 1),
                opacity 0.6s,
                font-size 0s;
    user-select: none;
    transform: scalex(0.9);
    letter-spacing: 1px;
}
.ym-txt:first-child {
    left: var(--ynav-m-space);
    transform: translateX(-50%);
}
.ym-txt:last-child {
    right: var(--ynav-m-space);
    transform: translateX(50%);
}

#ym-txt-c.pre-spawn .ym-txt {
    opacity: 0;
    left: 30vw;
    right: 30vw;
}


/*--/ CONTENT /--*/
#content-container {
    position: absolute;
    width: 100%;
    top: calc(var(--content-top) + var(--ynav-padding) * 2);
    left: 0;
}

main#swup {display: block;
    position: relative !important;
    width: 100%;
    overflow: visible !important;
}


/*/ PROJECT LISTS /*/
div[accordion-scroll] {
    /*background-color: var(--y-b2);*/
    transform: skewY(-7.5deg);
}
div[accordion-content] {
    visibility: hidden;
    position: fixed;
    left: -100%;
    overflow: hidden;
    user-select: none;
}
.acclist-item {
    width: 100%;
    margin: 0px;
    transform: translate3d(0px, 0px, 0px);
    transition: transform 0.6s cubic-bezier(0.45, 0.7, 0, 1);
    pointer-events: none;
    user-select: none;
}
/* only if [accordion-scroll] has a custom bg-color (to hide it)
.acclist-item:first-child::before,
.acclist-item:last-child::after {
    content: "";
    position: absolute;
    width: 100%;
    background-color: var(--y-w);
    height: 75px;
    bottom: 100%;
}
.acclist-item:last-child::after {
    top: 100%;
}*/
.acclist-in {
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(1.01);
    background-color: var(--y-w2);
    pointer-events: all;
}
.acclist-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--acc-btn-padding) 0;
    transform: scale(1.01);
    background-color: var(--y-b);
    outline: solid 1px transparent;
    transition-property: background-color, opacity !important;
    cursor: pointer;
}
.acclist-btn, .acclist-title {
    outline: solid 1px transparent;
}
.acclist-title {
    display: inline-block;
    padding: 10px 30px;
    transform: scale(1);
    text-align: center;
    white-space: nowrap;
    background-color: var(--y-w);
    transition-property: background-color, transform !important;
}
.acclist-t-span {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-size: clamp(23px, 3vw, 42px);
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--y-b);
    transform: scaleX(0.95);
    transition-property: color, opacity, letter-spacing !important;
}

.acclist-btn,
.acclist-btn .acclist-title,
.acclist-btn .acclist-t-span {
    transition: 0.7s cubic-bezier(0.4, 0.6, 0, 1),
                opacity 0.7s cubic-bezier(0.3, 0.75, 0, 1.1);
}
.acclist-item:not([state^="closing"]) .acclist-btn:hover,
.acclist-item:not([state^="closing"]) .acclist-btn:hover .acclist-t-span {
    transition: 0.6s cubic-bezier(0.1, 0.6, 0, 1),
                opacity 0.45s cubic-bezier(0.1, 0.5, 0, 1),
                letter-spacing 0.35s cubic-bezier(0.2, 0.5, 0, 1);
}
.acclist-item:not(.special):not([state^="open"]) .acclist-btn:hover {
    background-color: var(--y-b2);
}
.acclist-item.special:not([state^="open"]) .acclist-btn:hover {
    opacity: 0.97;
}
.acclist-btn:hover .acclist-title {
    transform: scale(1.12);
}
.acclist-item:not([state^="closing"]) .acclist-btn:hover .acclist-title {
    transition: /*bg-c*/ 0.8s cubic-bezier(0.15, 0.7, 0, 1),
                /*trsfrm*/ 0.7s cubic-bezier(0.05, 0.7, 0, 1);
}

.acclist-item[state^="open"] .acclist-btn {
    background-color: var(--y-w2);
}
.acclist-item[state^="open"] .acclist-title {
    transform: scale(1);
    background-color: var(--y-b);
}
.acclist-item[state^="open"] .acclist-t-span {
    letter-spacing: 10px;
    color: var(--y-w2);
}
.acclist-item:active .acclist-title {
    transform: scale(1);
}
.acclist-item[state^="open"] .acclist-btn:active .acclist-title {
    transform: scale(0.925);
    transition: 0.6s cubic-bezier(0, 0.7, 0, 1);
}

.acclist-item.special .acclist-btn,
.acclist-item.special[state^="open"] .acclist-title,
.acclist-item.special[state^="open"] .acclist-btn:hover .acclist-title {
    background-color: var(--y-b);
}
.acclist-item.special .acclist-title {
    background-color: var(--y-b);
}
.acclist-item.special .acclist-t-span {
    color: var(--y-w);
}
.acclist-item.special .acclist-btn:hover .acclist-title,
.acclist-item.special[state^="open"] .acclist-btn {
    background-color: var(--y-w);
}
.acclist-item.special:not([state^="open"]) .acclist-btn:hover .acclist-t-span {
    color: var(--y-b);
}

.acc-spacer {
    margin-bottom: 20px;
}

.acclist-content {
    position: relative;
    top: 0;
    width: 100%;
    transition: 1.1s cubic-bezier(0.4, 0.6, 0, 1);
    transition-property: height, transform;
    overflow: hidden;
}

.acclist-item[state^="open"] .acclist-content {
    transform: translateY(0px);
}
.acclist-item[state^="clos"] .acclist-content {
    height: 0px !important;
    transform: translateY(75px);
}

.al-grid {
    display: grid;
    width: 100%;
    padding-bottom: var(--acc-btn-padding);
    grid-gap: 0px;
    grid-template-columns: repeat(6, 1fr);
}

.al-card {
    position: relative;
    grid-column: span 2;
    transform: scaleY(1.01);
    cursor: pointer;
    user-select: none;
}
.al-card:nth-child(3n-1) {
    transform: scale(1.01);
}

.thumbnail-c {
    overflow: hidden;
    width: 100%;
    height: clamp(0px, 13vw, 250px);
}
.thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.7s cubic-bezier(0.1, 0.7, 0, 1);
}

.p-title-c {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.p-title {
    position: absolute;
    max-width: calc(100% - (clamp(20px, 2vw, 30px) * 2));
    padding: clamp(8px, 1vw, 15px) clamp(20px, 2vw, 30px);
    font-size: clamp(15px, 2vw, 27px);
    white-space: nowrap;
    color: var(--y-b);
    background-color: var(--y-w);
    transition: 0.7s cubic-bezier(0.1, 0.7, 0, 1),
                color 1.2s cubic-bezier(0.2, 0.4, 0, 1),
                background-color 1.5s cubic-bezier(0.3, 0.6, 0, 1),
                letter-spacing 0.9s cubic-bezier(0.5, 0.6, 0, 1),
                padding 0s, font-size 0s;
    text-overflow: ellipsis;
    overflow: hidden;
}

.al-card:hover .thumb {
    transform: scale(1.125);
}
.al-card:active .thumb,
.al-card.focus .thumb {
    transform: scale(0.875);
}
.al-card:hover .p-title {
    transform: scale(0.9);
    transition: 0.6s cubic-bezier(0.1, 0.7, 0, 1),
                color 1s cubic-bezier(0.3, 0.45, 0, 1),
                background-color 1s cubic-bezier(0.3, 0.6, 0, 1);
}
.al-card:active .p-title,
.al-card.focus .p-title {
    max-width: calc((100% - (30px * 2)) + 10%);
    transform: scale(0.9);
    letter-spacing: 3px;
}
.al-card:active .p-title {
    transition: 0.7s cubic-bezier(0.05, 0.7, 0, 1);
}
.al-card.focus .p-title, .p-title:focus {
    color: var(--y-w);
    background-color: var(--y-b);
    transition: 0.7s cubic-bezier(0.05, 0.7, 0, 1),
                color 0.9s cubic-bezier(0.1, 0.25, 0, 1),
                background-color 0.9s cubic-bezier(0.05, 0.5, 0, 1) !important;
}

/*- PROJECT POPUP -*/
div[project-popup] {
    z-index: 150;
    position: fixed;
    width: 0;
    height: 0;
}
.project-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    cursor: default;
}
.pp-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: var(--y-b);
    transition: opacity 0.45s ease;
}
.project-popup.out .pp-bg {
    transition: opacity 1s;
}

.pp-popup-c {
    position: fixed;
    transform: scale(1);
    opacity: 1;
    background-color: var(--y-w);
    transition: transform 0.8s cubic-bezier(0.3, 0.8, 0, 1),
                opacity 0.4s,
                0.6s cubic-bezier(0.4, 0.6, 0, 1);
    transition-delay: 50ms;
    transition-property: transform, opacity, width, height;
}
.project-popup.pre .pp-popup-c {
    transform: scale(0.6);
    opacity: 0;
}
.project-popup.out .pp-popup-c {
    transform: scale(1.15);
    opacity: 0;
    transition: transform 1s cubic-bezier(0.2, 0.6, 0, 1),
                opacity 0.25s;
}

.pp-sectiongrid {
    display: grid;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pp-proj {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100.1%;
    transition-property: width, height;
}
.pp-project .pp-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
}

.project-popup section.pp-desc {
    overflow-y: auto;
    top: 0;
    left: 0;
    padding-right: 25px;
    word-wrap: break-word;
    transition-property: top, left, opacity;
    box-sizing: border-box;
    overflow: hidden !important;
}
.project-popup section.pp-project {
    transition: transform 0.8s cubic-bezier(0.35, 0.65, 0, 1),
                opacity 0.5s;
}
.project-popup section.pp-desc .pp-title {
    transition: transform 0.8s 0.25s cubic-bezier(0.35, 0.7, 0, 1),
                opacity 0.4s 0.25s;
}
.project-popup section.pp-desc .pp-desctxt > * {
    transition: transform 0.75s cubic-bezier(0.35, 0.7, 0, 1),
                opacity 0.5s;
}
.project-popup section.pp-project,
.project-popup section.pp-desc .pp-title,
.project-popup section.pp-desc .pp-desctxt > * {
    transform: translate(0);
    opacity: 1;
    transition-delay: 0.2s;
}
.project-popup.pre section.pp-desc .pp-desctxt > * {
    transform: translateX(150px);
}
.project-popup.pre section.pp-project,
.project-popup.pre section.pp-desc .pp-title,
.project-popup.pre section.pp-desc .pp-desctxt > * {
    opacity: 0;
}

.pp-desctxt {
    padding-bottom: 2rem;
}
.pp-title {
    padding: 10px 30px 15px;
    background-color: var(--y-b);
}
.pp-t-plus {
    display: flex;
    justify-content: space-between;
}
.pp-title span {
    letter-spacing: 4px;
    font-weight: 700;
    word-wrap: normal;
    color: var(--y-w);
}
.pp-title > span#big {
    font-size: clamp(22px, 2.2vw, 42px);
    display: inline-block;
    width: calc(100% - 30px * 2);
    padding-bottom: 5px;
    letter-spacing: 4px;
    font-weight: 800;
    color: var(--y-w);
}
.pp-t-plus span {
    padding: 3px 10px 2.5px;
    font-size: clamp(13px, 0.975vw, 17px);
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1;
    color: var(--y-b2);
    background-color: var(--y-w);
    transition: 0.7s cubic-bezier(0.3, 0.7, 0, 1);
    transition-property: color, background-color;
}
.pp-t-plus span:hover {
    color: var(--y-b);
    background-color: var(--y-w2);
}


.pp-desc h2 {
    font-size: clamp(27px, 1.75vw, 30px);
    letter-spacing: 2px;
    font-weight: 800;
    margin: 1.25em 0 0.5em;
}
.pp-desc h3 {
    font-size: clamp(22px, 1.4vw, 24px);
    letter-spacing: 1px;
    margin: 0.75em 0;
}
.pp-desc p {
    font-size: clamp(16px, 1.05vw, 18px);
    letter-spacing: 0.5px;
    line-height: 1.3;
    margin: 0.5em 0;
}

/* PROJECT POPUP CLOSE CROSS */
.pp-curclose,
.pp-fakeclose {
    position: fixed;
    /*top: 5vh;
    right: 5vh;
    transform: translate(50%, -50%) scale(0);*/
    transform: translate(-50%, -50%) scale(0);
    width: clamp(25px, 4vw, 40px);
    height: clamp(25px, 4vw, 40px);
    stroke: var(--y-w);
    stroke-width: 0;
    opacity: 0;
    transition: transform 0.6s cubic-bezier(0.2, 0.75, 0, 1),
                stroke-width 0.5s cubic-bezier(0.1, 0.6, 0, 1),
                opacity 0.4s;
    pointer-events: none;
}
.pp-curclose.hover,
.pp-fakeclose {
    stroke-width: 3.3;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.325);
    transition: transform 0.4s cubic-bezier(0.5, 0.7, 0, 1),
                stroke-width 0.1s ease,
                opacity 0s;
}
@keyframes curClose-Spin {
    0% { transform: rotateZ(-180deg); }
    100% { transform: rotateZ(0deg); }
}
.pp-curclose svg {
    transform: rotateZ(0deg);
    transition: transform 0.2s linear;
}
.pp-curclose.hover svg {
    animation: curClose-Spin 0.4s cubic-bezier(0.25, 0.85, 0, 1);
}
.pp-bg:active ~ .pp-curclose svg {
    stroke-width: 3.5 !important;
    transform: scale(1.25);
    transition: transform 50ms ease,
                stroke-width 0.1s ease;
}
.pp-curclose svg.quit {
    stroke-width: 3.5 !important;
    transform: scale(1.2) !important;
    transition: transform 0s,
                stroke-width 0.1s !important;
}

@keyframes fakeClose-Spin {
    0% { transform: rotateZ(-180deg) scale(0); opacity: 0; }
    10% { transform: rotateZ(-180deg) scale(0); opacity: 0; }
    17.5% { opacity: 0; }
    100% { transform: rotateZ(0deg) scale(1); opacity: 1; }
}
.pp-fakeclose {
    stroke-width: 3.75;
    top: 0;
    right: -0.5vw;
    transform: translateX(100%) scale(1);
    transition: 0s;
    transition-property: transform, opacity;
}
.pp-fakeclose.hid,
.pp-fakeclose.quit {
    transform: translateX(100%) scale(0);
    opacity: 0;
    transition: 0.35s, 0.3s;
}
.pp-fakeclose:not(.hid) svg {
    animation: fakeClose-Spin 0.8s cubic-bezier(0.3, 0.85, 0, 1) backwards;
}


/* EMBED YT VIDEOS */
#player-c {
    display: flex;
    width: 100%;
    height: 0%;
    transition-property: height;
}
#player {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    padding-bottom: 56.25%; /*1:1 100% - 16:9 56.25% - 4:3 75% - 3:2 66.66% - 8:5 62.5%*/
    transition-property: transform, padding-bottom;
}
#player > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@keyframes fakePlayerLoading {
    0% { transform: translate(-50%, -50%) rotateZ(0deg); }
    100% { transform: translate(-50%, -50%) rotateZ(360deg); }
}
#player::after {
    z-index: -1;
    content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(29, 31, 32);" viewBox="0 0 32 32"><polygon fill="currentColor" points="27,25.6 5,28.4 5,6.4 27,3.6"/></svg>');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(40px, 4vw, 75px);
    height: clamp(40px, 4vw, 75px);
    animation: fakePlayerLoading 1.5s cubic-bezier(0.5, 0.3, 0, 0.6) infinite;
}


/* PROJECT SCALE UP */
.pp-scaleup {
    z-index: 10;
    position: absolute;
}
section[pp-type="img"] .pp-scaleup {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: zoom-in;
    transition-property: width, height;
}
section[pp-type="vid"] .pp-scaleup {
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    transform: translateY(0);
    cursor: pointer;
}
section[pp-type="vid"] .pp-scaleup::after {
    content: "Fullscreen";
    position: absolute;
    right: 0;
    padding: 10px 20px 10px 20px;
    font-size: clamp(14px, 1vw, 16px);
    opacity: 1;
    background-color: var(--y-b);
    color: var(--y-w);
    transition-property: opacity, background-color;
}
.project-popup.pscaleup section[pp-type="img"] .pp-scaleup {
    cursor: zoom-out;
}
.project-popup.pscaleup section[pp-type="vid"] .pp-scaleup::after {
    opacity: 0.65;
    background-color: #000000;
}

.project-popup.pscaleup section[pp-type="vid"] #player-c {
    height: 100.1%;
}
.project-popup.pscaleup section[pp-type="vid"] #player {
    transform: translateY(0%);
    padding-bottom: 0% !important;
}

.pp-proj,
.pp-desc,
#player-c,
#player,
.pp-scaleup,
section[pp-type="vid"] .pp-scaleup::after {
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.4, 0.6, 0, 1);
}


/* PROJECT POPUPS MINI */
@media (min-width: 1201px) /*large*/ {
    :root {
        --pp-popup-c-size: 80;
        --pp-popup-c-w-su: 90;
        --pp-sgrid: 56.5;
        --pp-sgrid-gap: 32.5px;
    }

    .project-popup.pre section.pp-project {
        transform: translateX(-33%);
    }
    .project-popup.pre section.pp-desc .pp-title {
        transform: translateY(-100%);
    }
    .pp-popup-c {
        width: calc(var(--pp-popup-c-size) * 1%);
        height: calc(var(--pp-popup-c-size) * 1%);
    }
    .project-popup.pscaleup .pp-popup-c {
        width: calc(var(--pp-popup-c-w-su) * 1%);
        height: 95%;
    }
    .pp-sectiongrid {
        grid-template-columns: calc(var(--pp-sgrid) * 1%) auto;
        grid-gap: var(--pp-sgrid-gap);
    }
    section.pp-desc {
        width: calc(((100 - var(--pp-sgrid)) / 100 * (var(--pp-popup-c-size) * 1vw)) - var(--pp-sgrid-gap));
    }
    .project-popup.pscaleup .pp-proj,
    .project-popup.pscaleup section[pp-type="img"] .pp-scaleup {
        width: calc((var(--pp-popup-c-w-su) + 0.1) * 1vw);
    }
    .project-popup.pscaleup section.pp-desc {
        left: 100%;
    }

    .project-popup.pscaleup section.pp-desc {
        opacity: 0;
    }
    .project-popup.pscaleup .pp-proj,
    .project-popup.pscaleup #player-c,
    .project-popup.pscaleup #player {
        transition-delay: 25ms;
    }
    .project-popup:not(.pscaleup) .pp-desc {
        transition-delay: 40ms;
    }
}
@media (max-width: 1200px) /*tall*/ {
    :root {
        --pp-popup-c-h-su: 85;
    }

    section.pp-desc {
        margin-top: -1px;
    }
    .project-popup section.pp-project,
    .project-popup section.pp-desc .pp-title,
    .project-popup section.pp-desc .pp-desctxt > * {
        transition-delay: 0.3s;
    }
    .project-popup.pre section.pp-project {
        transform: translateY(-100%);
    }
    .project-popup.pre section.pp-desc .pp-title {
        transform: translateX(-33%);
    }
    .pp-popup-c {
        width: 87.5%;
        height: calc(var(--pp-popup-c-h-su) * 1%);
    }
    .pp-sectiongrid {
        grid-template-rows: 33% auto;
    }
    .pp-desctxt {
        margin: 0 0.75rem;
    }
    .pp-title {
        padding: 10px 15px 15px;
    }
    .pp-title span {
        letter-spacing: 3px;
    }
    .pp-desc h2 {
        font-size: clamp(25px, 3.35vw, 30px);
        letter-spacing: 1px;
    }
    .pp-desc h3 {
        font-size: clamp(20px, 2.65vw, 24px);
        letter-spacing: 1px;
    }
    .pp-desc p {
        font-size: clamp(15px, 2vw, 18px);
        letter-spacing: 0.25px;
        line-height: 1.3;
        margin: 0.6em 0;
    }
    .pp-t-plus span {
        font-size: clamp(12px, 2.1vw, 16px);
        letter-spacing: 0px;
    }

    .project-popup.pscaleup .pp-proj,
    .project-popup.pscaleup section[pp-type="img"] .pp-scaleup {
        height: calc((var(--pp-popup-c-h-su) + 0.1) * 1vh);
    }
    .project-popup.pscaleup section.pp-desc {
        top: 100%;
        margin-top: 0;
    }
    
    #player-c {
        width: 100%;
        height: 100%;
    }
    #player {
        transform: translateY(0);
        padding-bottom: 0 !important;
    }
}

/* DEVICES SIZES */
@media (min-width: 961px) {
    .os-scrollbar {
        width: 13.5px !important;
    }
    .os-scrollbar-handle {
        transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    transform 0.375s cubic-bezier(0, 0.6, 0, 1),
                    height 0.55s cubic-bezier(0.1, 0.7, 0, 1) !important;
    }
    html.isChr .os-scrollbar.active .os-scrollbar-handle {
            transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                        opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                        transform 0s,
                        height 0.4s cubic-bezier(0, 0.6, 0, 1) !important;
    }
    

    .al-card {
        transform: scaleY(1.01);
    }
    .al-card:nth-child(3n-1) {
        transform: scale(1.01);
    }
}
@media (max-width: 960px) {
    .al-card {
        grid-column: span 3;
    }
    .al-card {
        transform: scale(1.01);
    }
    .thumbnail-c {
        height: clamp(0px, 20vw, 225px);
    }
    .pp-fakeclose {
        transform: translateY(-100%) scale(1);
        top: -0.5vh;
        right: 0;
    }
    .pp-fakeclose.hid,
    .pp-fakeclose.quit {
        transform: translateY(-100%) scale(0);
    }
}
@media (min-width: 728px) {
    :root {
        --acc-btn-padding: 45px;
    }
}
@media (max-width: 727px) {
    :root {
        --acc-btn-padding: 30px;
    }
    .os-scrollbar {
        width: 6px !important;
    }
    .os-scrollbar-handle {
        transition: background-color 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    opacity 0.8s cubic-bezier(0.15, 0.8, 0, 1),
                    transform 50ms linear,
                    height 0.4s cubic-bezier(0, 0.6, 0, 1) !important;
    }

    .acclist-title {
        padding: 7.5px 20px;
    }
    .acclist-item[state^="open"] .acclist-t-span {
        letter-spacing: 5px;
    }

    .al-card {
        grid-column: span 6;
    }
    .al-card {
        transform: scaleY(1.01);
    }
    .thumbnail-c {
        height: clamp(125px, 20vw, 200px);
    }

    .pp-popup-c {
        width: 93.5%;
    }
}
