:root {
    --y-white: rgb(245, 248, 250);
    --y-black: rgb(29, 31, 32);

    --ynav-m-space: 20vw;
    --ynav-padding: 10vh;
    --content-top: 25%;
}

body {
    margin: 0;
    background-color: var(--y-white);
    font-family: "Josefin Sans", sans-serif;
    overflow-x: hidden;
}

.transition-y {
    opacity: 1;
    transition: opacity 0.4s;
}
html.is-animating .transition-y {
    opacity: 0;
    transition: opacity 0.4s;
}

#container {
    position: absolute !important;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: calc(100% - (var(--ynav-padding) * 2));
    padding: var(--ynav-padding) 0;
    transition: height 0.7s cubic-bezier(0.4, 0.7, 0, 1);
}
#ymenu-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
svg#y {
    width: 20%;
    height: 100%;
    overflow: visible;
}

/* (temporary) Y SPAWN ANIMATION */
svg#y > g[id] {
    transform: translate(0);
    cursor: pointer;
}

svg#y > g[id] polygon {
    transition: fill 0.9s cubic-bezier(0.35, 0.9, 0, 1);
}
svg#y > g[id]:hover polygon {
    fill: var(--y-black) !important;
    transition: fill 0.4s cubic-bezier(0.05, 0.8, 0, 1);
}


svg#y > g#float {
    transition: transform 0.7s cubic-bezier(0.4, 0.8, 0, 1);
}
svg#y > g#main {
    transition: transform 0.65s cubic-bezier(0.5, 0.8, 0, 1);
}

svg#y > g[id] > g {
    transform: rotateZ(0);
    transform-origin: center;
}
svg#y > g#float > g {
    transition: transform 0.7s 0.1s cubic-bezier(0.2, 0.7, 0, 1);
}
svg#y > g#main > g {
    transition: transform 0.3s cubic-bezier(0, 0.55, 0, 1);
}

svg#y > g[id] path {
    fill: var(--y-black);
    transition: fill 0.8s cubic-bezier(0.6, 0.7, 0, 1);
}

nav.pre-spawn svg#y > g#float {
    transform: translate(15px, 10px);
}
nav.pre-spawn svg#y > g#float > g {
    transform: rotateZ(-25deg);
}
svg#y > g#main.pre-spawn {
    transform: translate(11.5px, -20px);
}
svg#y > g#main.pre-spawn > g {
    transform: rotateZ(50deg);
}

nav.pre-spawn svg#y > g#float path,
svg#y > g#main.pre-spawn path {
    fill: var(--y-white) !important;
}

/* Y MENU BUTTONS */
#ym-txt-c {
    position: absolute;
}
.ym-txt {
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
    color: var(--y-black);
    opacity: 1;
    transition: 0.7s cubic-bezier(0.25, 0.6, 0, 1),
                opacity 0.6s;
    user-select: none;
}
.ym-txt:first-child {
    right: var(--ynav-m-space);
}
.ym-txt:last-child {
    left: var(--ynav-m-space);
}

#ym-txt-c.pre-spawn .ym-txt {
    opacity: 0;
    right: 12.5vw;
    left: 12.5vw;
}


/*--/ CONTENT /--*/
#content-container {
    position: absolute;
    width: 100%;
    top: calc(var(--content-top) + var(--ynav-padding) * 2);
    left: 0;
}

main#swup {display: block;
    position: relative !important;
    width: 100%;
    overflow: visible !important;
}

.acclist-item {
    width: 100%;
    margin: 0px;
    transition: 0.6s cubic-bezier(0.2, 0.7, 0, 1);
}

/*/ PROJECT LISTS /*/
.acclist-in {
    transform: skewY(-7.5deg) scale(1.01);
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background-color: var(--y-black);
}
.acclist-content {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--y-white);
    text-align: center;
}
.acclist-span {
    font-size: 45px;
    font-weight: 700;
    color: var(--y-black);
}

