//# Stylesheet #//

//- Setup -

:root {
    --y-d : #1E2021;
    --y-l : #E8EBED;
    --y-r : #F23655;
    --y-rd : #B3203A;
}
::selection {
    color: var(--y-r);
    background-color: rgba(0,0,0,0.2);
}
body {
    background-color: var(--y-d);
    color: var(--y-l);
}


//- Content -


// Y Welcome
.y-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > * {
        position: absolute;
    }

    .ywelcome {
        width: 33vh;
        height: 33vh;

        > *[id] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/src/patterns/p1.png');
            background-color: var(--y-l);
            --scroll-position: 50px;
            --coef: 0.1;
            background-position-x: calc(var(--scroll-position)*var(--coef));
            background-position-y: calc(var(--scroll-position)*0.5*var(--coef));
        
            &#wing {
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.38 64.42"><polygon id="wing" points="13.38 30.23 25.44 19.28 0 0 13.38 30.23"/></svg>') 0/100% 100%;
            }
            &#main {
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45.38 64.42"><path id="main" d="M45.38,0,13,29.47l7.56,35ZM22,46.91,18.4,31.3,32.91,18.15Z"/></svg>') 0/100% 100%;
            }
        }
    }
}

/*.ylogo {
    fill: var(--y-l);
}*/



  