//# Stylesheet #//

//- Setup -

:root {
    --y-d : #1E2021;
    --y-l : #E8EBED;
    --y-r : #F23655;
    --y-rd : #B3203A;
}
::selection {
    color: var(--y-r);
    background-color: rgba(0,0,0,0.2);
}
body {
    background-color: var(--y-d);
    color: var(--y-l);
}


//- Content -
