//# Stylesheet #//

//- Setup -
:root {
    --y-d: #1E2021;
    --y-l: #E8EBED;
    --y-r: #F23655;
    --y-rd: #B3203A;
}
::selection {
    color: var(--y-r);
    background-color: rgba(0,0,0,0.2);
}
html {
    font-size: 9px;
    font-size: clamp(6px, 0.575vw, 10px);
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: var(--y-d);
    color: var(--y-l);
    -webkit-tap-highlight-color: transparent;
}

.dummy {
    position: absolute;
    opacity: 0 !important;
    transition: none !important;
    pointer-events: none !important;
}

loading-screen {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--y-d);
    transition: opacity 1s;
    pointer-events: none;
}
loading-screen:not([class*="on"]) {
    opacity: 0;
}

//- Content -

// Flex Center Inner
.y-layer, .y-wrapper-counterangle, loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Y Welcome
.y-layer {
    position: fixed;
    width: 100%;
    height: 100%;

    * {
        position: absolute;
    }

    .ywelcome {
        width: 33vh;
        height: 33vh;

        > *[id] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/src/patterns/p1.png');
            background-color: var(--y-l);
            --scroll-position: 50px;
            --coef: 0.1;
            background-position-x: calc(var(--scroll-position)*var(--coef));
            background-position-y: calc(var(--scroll-position)*0.5*var(--coef));
        
            &#wing {
                transform: translateX(-20px);
                -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.6 91.6"><polygon id="wing" points="35.66 39.86 56.33 39.77 48.71 0 35.66 39.86"/></svg>') 0/100% 100%;
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.6 91.6"><polygon id="wing" points="35.66 39.86 56.33 39.77 48.71 0 35.66 39.86"/></svg>') 0/100% 100%;
            }
            &#main {
                transform: translateX(20px);
                -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.6 91.6"><path id="main" d="M91.49,38.52,36,38.86,13.45,78.23ZM29.59,62.86l9.9-17.73,24.84-.08Z"/></svg>') 0/100% 100%;
                mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 91.6 91.6"><path id="main" d="M91.49,38.52,36,38.86,13.45,78.23ZM29.59,62.86l9.9-17.73,24.84-.08Z"/></svg>') 0/100% 100%;
            }

            @supports (mask: url('')) { // '-webkit-mask' doesn't have the problem (read below)
                & {
                    filter: blur(0.3px); // firefox has a weird ass edge bleed (?) on the elements because of the mask :/  -  a light blur seems to hide it
            }
        }
        }
    }

    .y-wrapper-counterangle {
        transform: rotate(-42deg); // angle of triangle "main"
    }
}

/*.ylogo {
    fill: var(--y-l);
}*/



  