/*# Yolan'Art Portfolio Stylesheet #*/

/*- Variables -*/
:root {
    --y-w1: rgb(234, 238, 242);
    --y-w2: rgb(250, 253, 255);
    --y-b1: rgb(29, 31, 32);
    --y-b2: rgb(42, 44, 47);
    --y-g1: rgb(204, 206, 208); /*rgba(128, 128, 128, 0.3) on --y-w1*/

    --shearY-p: -6deg;
    --shearY-a: 5deg;

    --pm-t-padding: 0.35em;
    --pmn-box-half-t-offset: calc((1em + var(--pm-t-padding) * 2) / 2);
    --pm-box-size: 65%;
    --pmn-item-marginb: 0.6em;
    --pmn-item-height: 1.65em;
    --pmn1-item-height: 1.45em;
    --tr: 0.8s;
}
::selection {
    color: inherit;
    background-color: rgba(128, 128, 128, 0.3);
}

.bg_w1, .b1.t { background-color: var(--y-w1); }
.bg_w2, .b2.t { background-color: var(--y-w2); }
.bg_b1, .w1.t { background-color: var(--y-b1); }
.bg_b2, .w2.t { background-color: var(--y-b2); }
.c_w1, .w1, .w1 span { color: var(--y-w1); }
.c_w2, .w2 { color: var(--y-w2); }
.c_b1, .b1, span { color: var(--y-b1); }
.c_b2, .b2 { color: var(--y-b2); }
.f_w1, .w1 svg { fill: var(--y-w1); }
.f_w2, .w2 svg { fill: var(--y-w2); }
.f_b1, .b1 svg, svg { fill: var(--y-b1); }
.f_b2, .b2 svg { fill: var(--y-b2); }
.s_w1 { stroke: var(--y-w1); }
.s_w2 { stroke: var(--y-w2); }
.s_b1 { stroke: var(--y-b1); }
.s_b2 { stroke: var(--y-b2); }

.db { display: block; }
.df, .fc_v, .fc_h, .fc, .fcv  { display: flex; }
.fc_v, .fc, .fcv { align-items: center; }
.fc_h, .fc, .fcv { justify-content: center; }
.fcv { flex-direction: column; }
.f_shr0 { flex-shrink: 0; }
/*
fc_v, fc_h = center vertical/horizontal
fc = center (h columns)
fcv = center (v columns)
*/


.p_a, .p_a__in > * { position: absolute; }
.p_r, .p_r__in > * { position: relative; }
.p0 { top: 0; left: 0; }

.wh100 { width: 100%; height: 100%; }
.wmh100 { width: 100%; min-height: 100%; }
.whmh100 { width: 100%; height: 100%; min-height: 100%; }
.w100 { width: 100%; }
.h100 { height: 100%; }

.ovrf_hid { overflow: hidden; }
.ovrfx_hid { overflow-x: hidden; }
.ovrfy_hid { overflow-y: hidden; }


/*- Overlay Scrollbar -*/ // touch device only btw so lighter css
.os-scrollbar {
    box-sizing: initial !important;
    width: 3px !important;
    padding: 0 !important;
    mix-blend-mode: exclusion !important;
    background-color: transparent !important;
    pointer-events: none !important;
}
.os-scrollbar-track {
    right: 3px !important;
    width: inherit !important;
    border-radius: 0 !important;
    background-color: transparent !important;
}
.os-scrollbar-handle {
    width: inherit !important;
    border-radius: 0 !important;
    background-color: var(--y-w2) !important;
}

/*- Smooth-Scrollbar -*/
.scroll-content {
    height: 100vh;
}

html { // for higher specificity
    .scrollbar-track { // hidden
        right: 0;
        width: 0.6rem;
        background-color: transparent;
        opacity: 0.75;
        mix-blend-mode: exclusion;
        transition: width 0.6s cubic-bezier(0.3, 0.6, 0, 1),
                    padding-right 0.5s cubic-bezier(0.25, 0.6, 0, 1),
                    background-color 0.6s ease,
                    opacity 0.2s ease-out;
        transition-delay: 0s, 0.1s, 0s, 0.1s;

        &.show,
        &:hover,
        &:active { // show
            opacity: 1;

            .scrollbar-thumb { // show
                left: 0;
                background-color: var(--y-w2);
                transition: left 0.6s cubic-bezier(0.3, 0.6, 0, 1),
                            background-color 0.3s ease,
                            opacity 0.6s cubic-bezier(0.25, 0.6, 0, 1);
            }
        }
        &.show { // show
            padding-right: 0.5rem;
            transition-delay: 0s, 0s, 0s, 0.1s;
        }
        &:hover,
        &:active { // show
            width: 2.2rem;
            padding-right: 0;
            background-color: rgba(250, 253, 255, 0.15); // --y-w2
            transition: width 0.5s cubic-bezier(0.15, 0.6, 0, 1),
                        padding-right 0.5s cubic-bezier(0.3, 0.6, 0, 1),
                        background-color 0.3s ease,
                        opacity 0.3s ease;
        }
    }

    .scrollbar-thumb { // hidden
        width: inherit;
        left: 100%;
        border-radius: 0;
        background-color: transparent;
        opacity: 0.92;
        transition: left 0.7s 0.1s cubic-bezier(0.5, 0.8, 0, 1),
                    background-color 0.6s 0.1s ease,
                    opacity 0.6s cubic-bezier(0.25, 0.6, 0, 1);
        cursor: pointer;

        &:hover,
        &:active {
            &::before,
            &::after {
                opacity: 1;
                transition: opacity 0.2s ease,
                            top    0.2s cubic-bezier(0.05, 0.7, 0, 1),
                            bottom 0.2s cubic-bezier(0.05, 0.7, 0, 1);
            }
            &::before {
                top: 15%;
            }
            &::after {
                bottom: 15%;
            }
        }

        &:hover {
            opacity: 0.8;
            transition: opacity 0.5s cubic-bezier(0.05, 0.7, 0, 1);
        }

        &:active {
            opacity: 0.6;
            transition: opacity 0.45s cubic-bezier(0.075, 0.6, 0, 1);
            
            &::before,
            &::after {
                transition: opacity 0.3s ease,
                            top    0.2s cubic-bezier(0.05, 0.7, 0, 1),
                            bottom 0.2s cubic-bezier(0.05, 0.7, 0, 1);
            }
            &::before {
                top: 20%;
            }
            &::after {
                bottom: 20%;
            }
        }

        &::before,
        &::after {
            content: "•";
            position: absolute;
            width: 100%;
            height: 0%;
            font-size: 2rem;
            text-align: center;
            line-height: 0;
            color: var(--y-b1);
            opacity: 0;
            transition: opacity 0.2s ease,
                        top    0.5s cubic-bezier(0.65, 0.3, 0, 1),
                        bottom 0.5s cubic-bezier(0.65, 0.3, 0, 1);
        }
        &::before {
            top: 45%;
        }
        &::after {
            bottom: 45%;
        }
    }
}


/*/- ERROR -/*/
noscript .ERROR { z-index: 10000; }
.ERROR {
    z-index: 999;
    display: flex; align-items: center; justify-content: center;
    position: fixed; width: 100%; height: 100%;
    text-align: center; font-size: 1.4rem; letter-spacing: 1.25px;
    background-color: var(--y-w1, #eceff2); color: var(--y-b1, #1d1f20);
    overflow-x: hidden; overflow-y: auto;
    > div { display: flex; flex-direction: column; align-items: center; transform: skewY(var(--shearY-p)); }
    .t {
        font-size: 3.75rem; font-weight: 800; letter-spacing: 1.25px; white-space: break-spaces;
        background-color: var(--y-b1, #1d1f20); color: var(--y-w1, #eceff2);
        &::after {
            content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(29, 31, 32);" viewBox="0 0 25 25"><path fill="currentColor" d="M8.8,6.5l2.9,2.2L10,9.1L8.8,6.5 M3.8,0.2l5,11.3l3.9-1l2.1-1.9L3.8,0.2L3.8,0.2z"/><path fill="currentColor" d="M16.3,7.4L15,10.8l-1,2.7l-1.7,4.4L11,12.2L16.3,7.4 M21.2,0.2L21.2,0.2L21.2,0.2z M21.2,0.2 L8.8,11.5l2.9,13.4l4.1-10.7l1-2.7L21.2,0.2L21.2,0.2z"/></svg>');
            position: absolute; top: -25%; left: 50%;
            min-width: 65px; max-width: 180px; width: 7.5vw; height: 7.5vw;
            transform: skewY(calc(0deg - var(--shearY-p))) translate(-50%, -50%);
    }}
    .l {
        text-decoration: none; background-color: var(--y-w2, #fafdff); transition: background-color 0.7s cubic-bezier(0.3, 0.6, 0, 1);
        > span {
            display: inline-flex; align-items: center;
            padding: 10px 35px; transform: scale(1);
            font-size: 1.6rem; letter-spacing: 0.75px; white-space: break-spaces;
            background-color: var(--y-w1, #eceff2); color: var(--y-b1, #1d1f20);
            transition: transform 0.6s cubic-bezier(0.1, 0.7, 0, 1), color 0.7s cubic-bezier(0.2, 0.7, 0, 1);
            &::after {
                content: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" style="color:rgb(29, 31, 32);" viewBox="0 0 32 32"><path fill="currentColor" d="M21.5,20.5v4h-14v-14h4c1.7,0,3-1.3,3-3l-10,0v20h20l0-10C22.8,17.5,21.5,18.8,21.5,20.5z"/><path fill="currentColor" d="M14.5,17.5L14.5,17.5c-0.6-0.6-0.6-1.5,0-2.1l8.9-8.9l2.1,2.1l-8.9,8.9C16,18.1,15.1,18.1,14.5,17.5z M24.5,7.5h-7l0-3h10v10l-3,0V7.5z"/></svg>');
                display: inline-block; margin-left: 0.5rem; width: 2.15rem; height: 2.15rem;
        }}
        &:hover, &:active { background-color: var(--y-g1, #ccced0); > span { color: var(--y-b2, #282a2d); }}
        &:hover > span { transform: scale(1.075); }
        &:active > span { transform: scale(0.985); transition: 0.2s cubic-bezier(0.05, 0.7, 0, 1); }
    }
    .t, .l { padding: 15px 70px; }
    > div {
        > span:nth-child(2) { font-size: 1.8rem; }
        > *:nth-child(2) { margin-top: 5vh; }
        > *:nth-child(1n+3) { margin-top: 2vh; }
    }
    @media (max-width: 1200px) {
        & { font-size: 0.85rem; letter-spacing: 1px; }
        .t { font-size: 1.75rem; letter-spacing: 0.75px; }
        .l > span { & { padding: 8px 17.5px; font-size: 0.9rem; letter-spacing: 0.5px; }
            &::after { margin-left: 0.3rem; min-width: 1.3rem; width: 1.3rem; min-height: 1.3rem; height: 1.3rem; }}
        .t, .l { padding: 12.5px 35px; }
        > div > span:nth-child(2) { font-size: 1.15rem; }
}}

/*- Setup -*/
html {
    overflow: hidden;
    font-size: 9px;
    font-size: clamp(6px, 0.575vw, 10px);
}
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: var(--y-w1);
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
}


#content-overscroll-overlay, loading-screen {
    z-index: 9999;
    position: fixed;
    inset: 0;
    background-color: var(--y-w1);
    opacity: 0;
    transition: opacity 3s cubic-bezier(0.05, 0.8, 0, 1);
    pointer-events: none;
    user-select: none;
}
loading-screen {
    transition: opacity 2s cubic-bezier(0.25, 0.7, 0, 1);

    &.on {
        opacity: 1;
        pointer-events: all;
    }
}

#content-wrapper {
    overflow-y: scroll;
    overflow-x: hidden;
}
#page-content {
    overflow-x: hidden;
    overflow-x: visible;
}
#content-wrapper,
#page-content {
    background-color: var(--y-w1);
}

section.part {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: transparent;
}

section#projects,
section.part:last-child {
    outline: dashed 1px rgba(0, 0, 0, 0.1) !important;
}

section#home {
    user-select: none;
}

.guide {
    position: absolute;
    top: 78.5%; /*default position*/
    width: 3vw;
    min-width: 3vw;
    max-width: 100%;
    height: 1.1vw;
    min-height: 1.1vw;
    max-height: 100%;
    background-color: var(--y-w2);
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 50% 100%);
    /*transition: 0.4s cubic-bezier(0.05, 0.7, 0, 1);*/
    transition: none;
}


/*-/ HOME /-*/
section#home {
    > svg#y-logo {
        height: 185%;
        top: -33.5%;
        margin-left: 62.25%;
    }
    span {
        opacity: 0.92;
        mix-blend-mode: difference;
    }
    > #big-name {
        font-size: 12.5vw;
        font-weight: 900;
        letter-spacing: 0.02em;
    }
    > #scroll_down {
        top: 74%;
        font-size: 2.35em;
        font-weight: 500;
        transform: translateY(0);
        transition: transform 0.7s cubic-bezier(0.3, 0.65, 0, 1), color 1.5s ease;

        &.hide {
            transform: translateY(1.25em);
            color: #000000;
            transition: transform 0.1s 0.25s, color 0.35s;
        }
    }
}


/*-/ ABOUT /-*/
section#about {
    text-align: center;

    > span {
        &:first-child {
            position: absolute;
            margin-bottom: 25%;
            font-size: 9em;
            font-weight: 900;
            letter-spacing: 0.02em;
        }
        &:not(:first-child) {
            font-size: 5.6em;
            font-weight: 600;
            line-height: 1.2;

            > b {
                font-weight: 900;
            }
        }
    }
}

/*-/ PROJECTS /-*/
pictureloader > img {
    position: fixed;
}


/*- PROJECTS MENU -*/
.dummy {
    position: absolute;
    opacity: 0 !important;
    transition: none !important;
    pointer-events: none !important;
}
.p-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--pm-box-size);
    font-size: 5em;
    line-height: 1;
    transition: var(--tr), top 0s;
    pointer-events: none;
}
.p-menu .pm-title-c {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    transition: var(--tr);
    pointer-events: all;
}
.p-menu .pm-title {
    display: inline-block;
    font-weight: 900;
    padding: var(--pm-t-padding) 1.75em;
    transition: var(--tr);
}

.p-menu .pm-bg {
    position: absolute;
    top: var(--pmn-box-half-t-offset);
    width: var(--pm-box-size);
    height: calc(100% - var(--pmn-box-half-t-offset));
    transition: var(--tr);
}

.menu-items-c {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.p-menu .menu-items {
    top: calc(var(--pmn-box-half-t-offset) * 2);
    width: 100%;
    height: calc(100% - (1em + var(--pm-t-padding) * 2));
    width: var(--pm-box-size);
    padding: 0.4em 0;
    box-sizing: border-box;
    transition: var(--tr);
}

.p-menu .menu-items .pm-i-c {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    min-height: var(--pmn-item-height);
    padding: 0 2em;
    box-sizing: border-box;
}

.p-menu .menu-items .pm-i-c > [id] {
    width: 100%;
    transition: var(--tr);
}

.p-menu .menu-items #top {
    display: inline-flex;
    justify-content: center;
}
.p-menu #top > div {
    margin-right: 0;
    width: 100%;
    transition: var(--tr);
}
.p-menu #top .min {
    display: inline-flex;
    position: absolute;
    transition: var(--tr);
}

.p-menu .menu-items #bottom {
    height: calc(var(--pmn-item-height) * 3 + (var(--pmn-item-marginb) * 2));
    transform: translateY(0);
}

.p-menu .p-item {
    display: inline-block;
    vertical-align: top;
    height: var(--pmn-item-height);
    overflow: hidden;
    transition: var(--tr);
    pointer-events: all;
}

.p-menu :not(.min) > .p-item:first-child,
.p-menu :not(.min) > .p-item:nth-child(2n+1) {
    width: 54.9%;
}
.p-menu :not(.min) > .p-item:nth-child(2),
.p-menu :not(.min) > .p-item:nth-child(2n+2) {
    width: 44.9%;
}
.p-menu #bottom .p-item:last-child {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.p-menu:not(.top-bar) #top,
.p-menu #bottom .p-item:not(:last-child) {
    margin-bottom: 0.6em;
}

.p-menu .p-item > div {
    display: inline-flex;
    align-items: center;
    height: var(--pmn-item-height);
    transition: var(--tr);
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
}
.p-menu .p-item svg {
    display: inline-block;
    width: var(--pmn-item-height);
    height: var(--pmn-item-height);
    transition: var(--tr);
}
.p-menu :not(.min) > .p-item svg {
    margin-right: 0.25em;
}
.p-menu .p-item .title {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 900;
    letter-spacing: 0.02em;
    word-spacing: -0.05em;
    text-overflow: clip;
    transition: var(--tr);
    overflow: hidden;
}

/* item states */
.p-menu .p-item.focus > div {
    background-color: var(--y-w1);
}
.p-menu .p-item.focus .title {
    color: var(--y-b1);
}
.p-menu .p-item.focus svg {
    fill: var(--y-b1);
}


/* PROJECT TOP BAR TRANSITIONS */
.p-menu.top-bar {
    width: 100%;
    height: var(--pmn-item-height);
}
.p-menu.top-bar:not([class*=" snap"]) {
    position: fixed !important;
    top: 0;
}
.p-menu.top-bar.snapTop {
    position: absolute !important;
    top: 0 !important;
}
.p-menu.top-bar.snapBottom {
    position: absolute !important;
    top: auto !important;
    bottom: 0 !important;
}
.p-menu.top-bar.tr {
    position: fixed !important;
}
.p-menu.top-bar .pm-bg {
    top: 0; /*calc(var(--pmn-box-half-t-offset) + var(--pmn-item-height));*/
    width: 100%;
    height: 100%;
}
.p-menu.top-bar .pm-title-c {
    top: calc(0px - var(--pmn-box-half-t-offset) * 2);
    opacity: 0;
}
.p-menu.top-bar .pm-title {
    color: var(--y-w1);
}
.p-menu.top-bar .menu-items {
    top: 0;
    height: 100%;
    padding: 0;
}
.p-menu.top-bar #top > div {
    margin-right: calc(var(--pmn-item-height) * 5);
    width: calc(var(--pmn-item-height) * 2);
}
.p-menu.top-bar #top .p-item {
    width: var(--pmn-item-height);
}
.p-menu.top-bar #top .p-item .title {
    opacity: 0;
}
.p-menu.top-bar #bottom {
    height: 0;
    transform: translateY(2em);
    opacity: 0;
    pointer-events: none;
}
.p-menu:not(.top-bar) #top .min {
    opacity: 0;
    pointer-events: none;
}

.p-menu #top .min > .p-item {
    margin-left: 4em;
}
.p-menu #top .min > .p-item:first-child {
    margin-left: 7em;
}
.p-menu.top-bar #top .min > .p-item {
    margin-left: 0;
}
.p-menu.top-bar #top .min,
.p-menu.top-bar #top .min > .p-item:nth-child(1) {
    transition-delay: 0.2s;
}
.p-menu.top-bar #top .min > .p-item:nth-child(2) {
    transition-delay: 0.3s;
}
.p-menu.top-bar #top .min > .p-item:nth-child(3) {
    transition-delay: 0.4s;
}
.p-menu.top-bar #top .min > .p-item:nth-child(4) {
    transition-delay: 0.5s;
}
.p-menu.top-bar #top .min > .p-item:nth-child(5) {
    transition-delay: 0.6s;
}


/*- PROJECTS LIST -*/
.projects-content {
    position: relative;
    width: 100%;
    height: 100%;
}
.projects-list-wrapper {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 100%;
    padding: 5% 7.5%;
    padding-top: calc(var(--pmn-item-height) * 2 * 5); // height of top bar
}
.projects-list {
    --pi-h: 27.5rem;
    --pi-mh: 1rem;

    --pi-tr-dur1: 0.6s;
    --pi-tr-tf1: cubic-bezier(0.35, 0.8, 0, 1);

    box-sizing: border-box;
    position: relative;
    width: 100%;

    .p-list-c {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2.65rem;
        position: absolute;
        width: 100%;
        top: 0rem;
        transform: translateY(0) skewX(0.01deg);
        transition: top 0.7s 0.1s cubic-bezier(0.5, 0.85, 0, 1),
                    transform 0.8s 0.3s cubic-bezier(0.1, 0.7, 0, 1),
                    opacity 0.55s 0.125s ease;

        &.tr-in, &.tr-out {
            opacity: 0;
        }
        &.tr-in {
            top: 30rem;
            transition: 0s;

            .project-item:nth-child(2n+1) {
                margin-bottom: 10rem;
            }
        }
        &.tr-out {
            top: -40rem;
            transform: skewY(0.01deg);
            transition: top 0.8s cubic-bezier(0.8, 0.4, 0, 1),
                        transform 0.8s cubic-bezier(0.8, 0.4, 0, 1),
                        opacity 0.3s ease;
            pointer-events: none;
        }
    }

    .project-item {
        box-sizing: border-box;
        grid-column: 1 span;
        position: relative;
        height: var(--pi-h);
        margin-bottom: 0;
        transition: padding var(--pi-tr-dur1) var(--pi-tr-tf1),
                    margin-bottom 0.9s 0.2s cubic-bezier(0.4, 0.7, 0, 1);
        transform: rotateZ(0.1deg); // aa
        cursor: pointer;
        user-select: none;
        overflow: hidden;

        > * {
            pointer-events: none;
        }

        .thumbnail-c {
            overflow: hidden;
            width: 100%;
            height: 100%;
            transition: var(--pi-tr-dur1) var(--pi-tr-tf1);
            mix-blend-mode: lighten; /*that's genius : exclusion || lighten*/

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
                transform: rotateZ(-0.1deg) scale(1.1);
                transition: var(--pi-tr-dur1) var(--pi-tr-tf1);
            }
            
        }

        .sub {
            box-sizing: border-box;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - var(--pi-mh) * 2);
            height: 33%;
            height: calc(100% * (1 / 3));
            font-size: 3.35em;
            letter-spacing: 1px;
            font-weight: 900;
            text-align: center;
            line-height: 0;
            
            .title {
                position: relative;
                top: 1.5em;
                width: 100%;
                opacity: 0.25;
                transition: var(--pi-tr-dur1) var(--pi-tr-tf1), 0.5s cubic-bezier(0.1, 0.7, 0, 1);
                transition-property: top, opacity;
                transition-delay: 0.2s, 0s;

                span {
                    position: relative;
                    text-align: center;
                    line-height: 1.15;
                    padding-inline: 0.5em;
                    -webkit-box-decoration-break: clone;
                    box-decoration-break: clone;

                    html:not(.isChr) & { // because this dumb of a Chromium can't handle it
                        display: initial !important;
                    }
                }
            }
        }

        .directionalBgEffect {
            position: absolute;
            width: 0;
            height: 0;
            pointer-events: none;
            transition: 0s;

            .fill {
                position: absolute;
                width: 50vw;
                height: 0;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
                background-color: var(--y-b1);
                transition: 0.65s cubic-bezier(0.6, 0.7, 0, 1);
                transition-property: width, height;
            }
        }

        &:hover {
            --pi-tr-dur1: 0.6s;
            --pi-tr-tf1: cubic-bezier(0.3, 0.7, 0, 1);

            padding: var(--pi-mh);
            padding-bottom: 0;

            .thumbnail-c {
                height: 66%;
                height: calc(100% * (2 / 3));

                img {
                    transform: rotateZ(-0.1deg) scale(1);
                }
            }

            .sub .title {
                top: 0;
                opacity: 1;
                transition-delay: 0s;
            }

            .directionalBgEffect {
                .fill {
                    transition: 0.65s cubic-bezier(0.4, 0.6, 0, 1);
                }
            }
        }

        &.debug {
            --dbfill-bounds: #00b187;
            z-index: 10;
            overflow: visible;
            outline: solid 2px var(--dbfill-bounds);

            &:not(:hover) .sub .title {
                opacity: 0;
            }

            .directionalBgEffect {
                z-index: 99999;
                /*width: 5px;*/
                /*height: 5px;*/
                transform: translate(-50%, -50%);
                transform-origin: top;
                background-color: red;
                /*outline: solid 0px white;*/
                /*border-radius: 50%;*/
                transition: 0s;
                pointer-events: none;

                .fill {
                    opacity: 0.3;
                    background-color: #264dfb;
                    outline: solid 2px red;
                }

                &::before { // line
                    content: "";
                    z-index: 10;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 0;
                    height: calc(100vw / 3);
                    bottom: 0;
                    opacity: 0.85;
                    background-color: transparent;
                    border-left: dashed 2px red;
                    pointer-events: none;
                }
                &::after { // point
                    content: "^";
                    position: absolute;
                    transform: translate(-50%);
                    text-align: center;
                    line-height: 0.75em;
                    font-size: 3.5em;
                    font-weight: 600;
                    color: red;
                    text-shadow: 1px 1px 0px black, -1px -1px 0px black, -1px 1px 0px black, 1px -1px 0px black;
                    pointer-events: none;
                }
            }
            &::before { // circle
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.145); // not accurate for the size but fair enough
                width: 100%;
                height: calc((100vw - 7.5vw * 2 - 2.65rem * 2) / 3);
                border-radius: 9999px;
                background-color: transparent;
                outline: dashed 2px var(--dbfill-bounds);
                pointer-events: none;
            }
            &::after { // center
                content: "+";
                z-index: 100;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: var(--dbfill-bounds);
                font-size: 3.5rem;
                text-shadow: 2px 2px 0px black, -2px -2px 0px black, -2px 2px 0px black, 2px -2px 0px black;
                font-weight: 400;
                pointer-events: none;
            }

            &.tr {
                .directionalBgEffect {
                    transition: 300ms;
                }
            }
        }
    }
}

.button-overlay {
    position: absolute;
    inset: 0;
    background-color: transparent;
}



/*- VIEWPORT SIZES -*/
@media (max-width: 727px) {
}
